.App {
  text-align: center;
}

.color-palette-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker {
  margin-bottom: 20px;
}

.palette-color {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: 1px solid #ccc;
  display: inline-block;
}
